language: go

os:
  - linux

go:
  - 1.9

before_install:
  - cd indexcov && go get ./... ; cd ..
  - cd depth && go get ./... ; cd ..
  - sudo apt-get -qq update
  - sudo apt-get install -y bedtools samtools
script:
  - cd indexcov && travis_wait 30 bash functional-tests.sh ; cd ..
  - cd depth && travis_wait 30 bash functional-test.sh ; cd ..
  - cd indexsplit && travis_wait 30 bash functional-tests.sh; cd ..
  - cd samplename && travis_wait 30 bash functional-tests.sh; cd ..
